# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de sistema
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de control de versiones
.git
.gitignore

# Archivos de IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Archivos de construcción
dist
build
coverage

# Otros
README.md
LICENSE
*.md
